{% extends 'base.html' %}


{% block title %}
About
{%endblock%}

<div class="container">
{% block content %}
<h1 class="text-center mt-1">About page</h1>
<hr>

<div class="container text-center mt-1 mb-1">
    <div class="alert alert-info bg-light" role="alert">
        Live the high life on two wheels with our rental bikes,Make a statement on the streets,Unleash the ultimate biking experience with us. Thanks you for choosing <span class="fw-bold">The Bikeholics</span>.
      </div>
</div>

</div>

{%endblock%}
 